* {
    font-family: Roboto;
}

body {
    background-color: rgb(245, 245, 245);
}

/* Navbar */
.navbar-brand {
    font-family: 'Viga',
        sans-serif;
}

.nav-link {
    font-family: 'PT Sans',
        sans-serif;
}



/* Jumbotron */
.jumbotron {
    background-image: url(img/jumbotron-bg-1.png);
    background-size: cover;
    height: 480px;
}



/* Text */
.text {
    margin-top: 10px;
}

.text a {
    background-color: #06cb79;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}



/* Utility */
.identity {
    margin-top: 15px;
}

.name {
    font-size: 28pt;
}

.desc {
    margin-top: -30px;
}

.footer {
    background-color: #06cb79;
    width: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    height: 80px;
}

.education {
    margin-top: 50px;
}

.education i {
    color: #06cb79;
}


/* Info Panel */
.info-panel {
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-top: -350px;
}

/* Desktop */
@media(min-width:992px) {
    .nav-link {
        margin-right: 50px;
    }

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #06cb79;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
    }
}